html,
body {
    height: 100%;
}

header.carousel {
    height: 90%;
    margin-bottom: 100px;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

#arrow_header{
    font-size: 68px;
}

@media(max-width:767px) {
    header.carousel {
        height: 50%;
        margin-bottom: 30px;
    }
}